div.content-container {
  position: relative;
  width: 100%;

}

.shops-container{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: start;
  margin: 2em;
  width: 75%;
  margin-top: 0px;
}

h2.the-best {
  margin-top:15px;
  margin-left: 1.65em;
  padding-bottom: 2em;
}
span.shop-logo {
  min-width: 180px;
  width: 250px;
  min-height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  grid-area: logo;
  cursor: pointer;
}

div.shop-card {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 15px 1fr 1fr 1fr 15px;
  grid-template-rows: 60px 1fr 1fr 30px;
  grid-template-areas: '. name name name .'
                        '. m logo m3 .'
                        '. address address link .'
                        '. b2 b2 . .';
  min-width: 300px;
  width: 480px;
  height: 375px;
  background-color: white;
  padding: 20px 5px 10px 5px;

}

h3.shop-name{
  grid-area: name;
  place-self: start center;
  font-weight: 900;
  font-size: 1.3em;
  cursor: pointer;
}

.shop-card a {
  text-decoration: none;
  grid-area: link;
  place-self: end center;
  color: #5B6DA6;
  white-space: nowrap;
  letter-spacing: -1px;
}

.shop-card a:visited {
  color: #5B6DA6;
}

.shop-card a:hover{
  color: #8562D9;
}
p.address {
  grid-area: address;
  font-size: 14px;
  place-self: end start;
  letter-spacing: -0.3px;

}

span.show-more {
  font-size: 2.7em;
  margin-left: 1em;
  padding-top: 20px;
}
span.show-more:hover {
  color: #8562D9;
}

/*Start of individual shop details */
.shop-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


div.rating {
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}

p.shop-name {
  font-size: 2em;
}
form textarea {
  border-radius: 5px;
  resize: none;
  width: 400px;
  display: block;
  /* height: 150px; */
  height: 30px;
  overflow-y: hidden;
  border: 2px solid rgb(204, 203, 207);
  padding: 3px 0 33px 5px;
  font-size: 1.25em;
  transition: 1s;
}

form textarea:focus{
  outline: none !important;
  border: 2.5px solid #090418;
}
form textarea:focus{
  height: 200px;
}

form.review {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
div.map {
  height: 200px;
}
.show-rating {
  display:block;
  font-size: 1.3em;
  font-weight: 900;
  text-align: center;
  margin-right: 13px;
}
.show-review {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 50px;

}
.submit-review {
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s;
}
.submit-review:hover{
  background-color:  #fffddc;;
}
.rating-cup {
  transition: 0.5s;
}
.rating-cup:nth-child(1) {
  height: 23px;
  margin-bottom: 5px;
}
.rating-cup:nth-child(2) {
  height: 27px;
  margin-bottom: 6px;
}

.rating-cup:nth-child(3) {
  height: 30px;
  margin-bottom: 6px;
}
.rating-cup:nth-child(4) {
  height: 35px;
  margin-bottom: 5px;
}
.rating-cup:nth-child(4) {
  height: 38px;
}
