div.content-container {
  position: relative;
  width: 100%;

}

.shops-container{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: start;
  margin: 2em;
  width: 75%;
  margin-top: 0px;
}

h2.the-best {
  margin-top:15px;
  margin-left: 1.65em;
  padding-bottom: 2em;
}
span.shop-logo {
  min-width: 180px;
  width: 250px;
  min-height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  grid-area: logo;
  cursor: pointer;
}

/* selects only the images with white backgrounds */
span[style*="Urbana"],span[style*="coffeeology"],span[style*="cca_cd518d4"],span[style*="5f3304eada45"] {
  background-color: #28262c;
}

div.shop-card {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 15px 1fr 1fr 1fr 15px;
  grid-template-rows: 60px 1fr 1fr 25px;
  grid-template-areas: '. name name name .'
                        '. m logo m3 .'
                        '. address address . .'
                        'city b2 distance link .';
  min-width: 300px;
  width: 460px;
  height: 360px;
  background-color: white;
  padding: 20px 5px 10px 5px;

}

h3.shop-name{
  grid-area: name;
  place-self: start center;
  font-weight: 900;
  font-size: 1.3em;
  cursor: pointer;
}

.shop-card a {
  text-decoration: none;
  grid-area: link;
  place-self: end center;
  color: #5B6DA6;
  white-space: nowrap;
  letter-spacing: -1px;
}

.shop-card a:visited {
  color: #5B6DA6;
}

.shop-card a:hover{
  color: #8562D9;
}
p.address {
  grid-area: address;
  font-size: 14px;
  place-self: end start;
  letter-spacing: -0.3px;

}

span.show-more {
  font-size: 2.7em;
  margin-left: 1em;
  padding-top: 20px;
}
span.show-more:hover {
  color: #8562D9;
}

.sort-by {
  margin-left: 230px;
  padding-right: 0.5em;
  font-size: 13px;
}

/*Start of individual shop details */
.shop-details {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 75px 1fr 1fr 1fr;
  grid-template-areas: "t t t t t"
                        ". map . review ."
                        ". . . . ."
                        ". . . . .";
  position: relative;
}

.zipcode {
  grid-area: city;
  font-size: 12.5px;
  letter-spacing: -0.3px;
  white-space: nowrap;
  margin-left: 15px;
}

.shop-distance {
  grid-area: distance;
  place-self: center center;
  letter-spacing: -1px;
}

div.rating {
  display: flex;
  gap: 5px;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

h1.shop-name {
  font-size: 2em;
  padding-top: 7px;
  width: 100%;
  text-align: center;
  grid-area: t;
  border-bottom: 10px solid #1A0A40;
  outline: 3px solid black;
}

form textarea {
  border-radius: 5px;
  resize: none;
  width: 400px;
  display: block;
  /* height: 150px; */
  height: 30px;
  overflow-y: hidden;
  border: 2px solid rgb(204, 203, 207);
  padding: 3px 0 33px 5px;
  font-size: 1.25em;
  transition: 1s;
}


form textarea:focus{
  outline: none !important;
  border: 2.5px solid #090418;
}
form textarea:focus{
  height: 250px;
}

form.review {
  grid-area: review;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 80px;
}
input[type="file"] {
  display: none;
}

.upload-img {
  border: 1px solid rgb(104, 103, 103);
  display: inline-block;
  padding: 6px 12px;
  width: 200px;
  height: 25px;
  align-self: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-img .fa-image {
  font-size: 2.5em;
  position: absolute;
  left: 155px;
  top: -7px;
}
.img-label {
  font-size: 16px;
  position: absolute;
  white-space: nowrap;
  bottom: 15px;
  left: 50px;
  overflow: none;

}
.remove-img{
  background: #1A0A40;
  color:#fffddc;
  position: absolute;
  right: 50px;
  top: -3px;
}

div.map {
  height: 200px;
}
.show-rating {
  display:block;
  font-size: 1.3em;
  font-weight: 900;
  text-align: center;
  margin-right: 13px;
}
.show-review {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 100px;
  font-weight: 600;
  letter-spacing: -0.75px;

}
.submit-review {
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 20px;
  background-color: #dfd49a;
}
.submit-review:hover{
  background-color:  #fffddc;
}
.rating-cup {
  transition: 0.5s;
}
.rating-cup:nth-child(1) {
  height: 23px;
  margin-bottom: 5px;
}
.rating-cup:nth-child(2) {
  height: 27px;
  margin-bottom: 6px;
}

.rating-cup:nth-child(3) {
  height: 30px;
  margin-bottom: 6px;
}
.rating-cup:nth-child(4) {
  height: 35px;
  margin-bottom: 5px;
}
.rating-cup:nth-child(4) {
  height: 38px;
}
