div.content-container {
  position: relative;
  width: 100%;

}

.shops-container{
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: start;
  margin: 2em;
  width: 75%;
  margin-top: 0px;
}

h2.the-best {
  margin-top:15px;
  margin-left: 1.65em;
  padding-bottom: 2em;
}
span.shop-logo {
  min-width: 180px;
  width: 250px;
  min-height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  grid-area: logo;
  cursor: pointer;
}

/* selects only the images with white backgrounds */
span[style*="Urbana"],span[style*="coffeeology"],span[style*="cca_cd518d4"],span[style*="5f3304eada45"] {
  background-color: #28262c;
}

div.shop-card {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 15px 1fr 1fr 1fr 15px;
  grid-template-rows: 60px 1fr 70px 25px;
  grid-template-areas: '. name name name .'
                        '. m logo . .'
                        '. address address rating .'
                        'city b2 distance link .';
  min-width: 300px;
  width: 460px;
  height: 365px;
  padding: 20px 5px 10px 5px;
  background-color: #faf9f4;
  border-radius: 20px;
  border: 2px solid #1A0A40;
}


h3.shop-name{
  grid-area: name;
  place-self: start center;
  font-weight: 900;
  font-size: 1.3em;
  cursor: pointer;
}

.shop-rating{
  grid-area: rating;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: flex-end;
  margin-right: 2px;
  font-weight: 600;
}

.shop-card a {
  text-decoration: none;
  grid-area: link;
  place-self: end center;
  color: #5B6DA6;
  white-space: nowrap;
  letter-spacing: -1px;
}

.shop-card a:visited {
  color: #5B6DA6;
}

.shop-card a:hover{
  color: #8562D9;
}
p.address {
  grid-area: address;
  font-size: 14px;
  place-self: end start;
  letter-spacing: -0.3px;
  font-weight: 500;

}

span.show-more {
  font-size: 2.7em;
  margin-left: 1em;
  padding-top: 20px;
}
span.show-more:hover {
  color: #8562D9;
}

.sort-by {
  margin-left: 230px;
  padding-right: 0.5em;
  font-size: 13px;
}

/*Start of individual shop details */
.shop-details {
  display: grid;
  grid-template-columns: 50px 1fr 1.3fr 1fr 50px;
  grid-template-rows: 75px 1fr 1.5fr 1fr;
  grid-template-areas: "t t t t t"
                        ". map feed review ."
                        ". . . . ."
                        ". . . . .";
  position: relative;
}

.zipcode {
  grid-area: city;
  font-size: 12.5px;
  letter-spacing: -0.3px;
  white-space: nowrap;
  margin-left: 15px;
  font-weight: 600;
}

.shop-distance {
  grid-area: distance;
  place-self: center center;
  letter-spacing: -1px;
}

div.rating {
  display: flex;
  gap: 5px;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

h1.shop-name {
  font-size: 2em;
  padding-top: 7px;
  width: 100%;
  text-align: center;
  grid-area: t;
  border-bottom: 10px solid #1A0A40;
  outline: 3px solid black;
}

form textarea {
  border-radius: 5px;
  resize: none;
  width: 350px;
  display: block;
  overflow-y: hidden;
  min-height: 100px;
  border: 1px solid rgb(204, 203, 207);
  padding: 3px 0 33px 5px;
  font-size: 1.25em;
  transition: 1s;
  margin-bottom: 10px;
}


form textarea:focus{
  outline: none !important;
  border: 1px solid #090418;
}


form.review {
  grid-area: review;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 70px;
  padding: 20px 0 15px 0;
  background-color: #faf9fd;
  justify-content: flex-start;
  width: 420px;
  border-radius: 25px;
  height: 420px;
}
.review-title{
 margin-bottom: auto;

}

.review-errors {
  font-size: 12px;
  position: absolute;
  top: 47px;
}
input[type="file"] {
  display: none;
}

.upload-img {
  border: 1px solid rgb(104, 103, 103);
  display: inline-block;
  padding: 6px 12px;
  width: 200px;
  height: 25px;
  align-self: center;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 0.875em;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}

.upload-img .fa-image {
  font-size: 2.3em;
  position: absolute;
  left: 120px;
  top: 86px;
}

.img-label {
  font-size: 14px;
  position: absolute;
  white-space: nowrap;
  bottom: 10px;
  left: 50px;
  overflow: none;

}
.remove-img{
  background: #1A0A40;
  color:#fffddc;
  position: absolute;
  right: 50px;
  top: 62px;
  font-size: 12px;
  border-radius: 7px;
  padding: 0 5px;
}
.remove-img:hover {
  background-color: #311a66;
}

div.map {
  height: 200px;
}
.show-rating {
  display:block;
  font-size: 1.3em;
  font-weight: 900;
  text-align: center;
  margin-right: 13px;
}
.show-review {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 100px;
  font-weight: 600;
  letter-spacing: -0.75px;
}

.submit-review {
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 20px;
  background-color: #dfd49a;
}
.submit-review:hover{
  background-color:  #fffddc;
}
.rating-cup {
  transition: 0.5s;
}
.rating-cup:nth-child(1) {
  height: 23px;
  width:23px;
  margin-bottom: 5px;
  padding-right: 5px;
}
.rating-cup:nth-child(2) {
  height: 25px;
  width: 27px;
  margin-bottom: 6px;
}

.rating-cup:nth-child(3) {
  height: 28px;
  width: 33px;
  margin-bottom: 6px;
}
.rating-cup:nth-child(4) {
  height: 33px;
  width: 39px;
  margin-bottom: 5px;
}
.rating-cup:nth-child(5) {
  height: 47px;
  width: 45px;
}

/* styles for review feed */

.review-feed-container {
  grid-area: feed;
  place-self: center top;
  margin-top: 20px;
  text-align: center;
  /* background-color: #e6dfd5; */
  width: 90%;
  display:flex;
  flex-direction: column;
  gap: 15px;
  min-height: 470px;
}
.individual-review:last-child {
 margin-bottom: 1rem;
}
.individual-review {
display:grid;
grid-template-columns: 10px 1fr 1fr 0.5fr 10px;
grid-template-rows: 70px 80px 70px 25px 30px;
position: relative;
grid-template-areas: '. img img img edit '
                      '. img img img . '
                      '. p p . . '
                      '. p p author . '
                      '. .  date score .';
margin-top: 0.75rem;
background-color: rgb(250, 249, 246);
padding: 5px 0;
margin: 0 5px;
min-width: 348px;
border: 1.75px solid rgb(205, 203, 207);
border-radius: 7px;

}

.individual-review p {
  height: fit-content;
  width: fit-content;
  white-space: pre-line;
  grid-area: p;
   text-align: start;
  font-size: 13px;
  margin-top: 3px;
}
.individual-review p::before {
  content: "";
  position: absolute;
  background-color:#e6dfd5;
  width: 100%;
  height: 2px;
  right: 0px;
  bottom: 130px;
}
.review-author{
  grid-area: author;
  font-size: 14.5px;
  place-self: start end;
  margin-right: 5px;
}
span.edit-review{
  grid-area: edit;
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-weight: 300px;
  color: #29135c;
}
.review-date {
  grid-area: date;
  white-space: nowrap;
  font-size: 12px;
  place-self: end start;
  letter-spacing: -0.4px;
}
.review-image-container {
  grid-area: img;
  place-self: start center;
  margin-top: 3px;
}
.review-image {
  height: 140px;
  object-fit: contain;
}
.stars-container{
  background-color: #ece9f3;
  height: fit-content;
  width:fit-content;
  border-radius: 15px;
  padding: 0 9px 2px 9px;
  white-space: nowrap;
  place-self: end end;
  grid-area: score;
  position: relative;
}
.stars {
  font-size: 12px;
  color: #A68A5B;
}

.partialStar::after{
  content: "";
  width: 12px;
  height: 13px;
  position:absolute;
  color: #ece9f3;
  z-index: 99;
  right: 3.5px;
  top: 3px;
  /* right: 10px; */
  background-color:#ece9f3;

}
