.login-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.login-container form.login {
  background-color: #8562D9;
  display: flex;
  flex-direction: column;
  width: 440px;
  height:360px;
  align-items: center;
  padding: 25px 100px;
  margin: 0 35px 0 auto;
  border-radius: 10px;
  position: absolute;
  right: -100px;
  top: 30px;
}

form.login * {
  font-size: 1.5rem;
  font-weight: 700;
}
form.login button {
  margin-top: 15px;
  background-color: white;
  border-radius: 7px;
}

form.login, h2 {
  display: inline-block;
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 1.3em;
}
.form-title {
  position: relative;
  text-align: center;
}
form button:hover {
  background-color: #1A0A40 !important;
  color: white;
}

p.login-errors {
  font-size: 10px;
}

.login label{
  padding-bottom: 0.8em;
}
.login input {
  border-radius: 10px;
  width: 350px;
  background-color: whitesmoke;
}

form.login button.close {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  position: absolute;
  right: -120px;
  top: -20px;
  border-radius: 50%;
}
