.login-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.login-container form.login {
  background-color: #f3eee4;
  display: flex;
  flex-direction: column;
  width: 440px;
  height:360px;
  align-items: center;
  padding: 25px 100px;
  margin: 0 35px 0 auto;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 999;
  border: 2px solid black;
}

form.login * {
  font-size: 1.25rem;
  font-weight: 700;
}
form.login button {
  margin-top: 15px;
  background-color: #1A0A40;
  border-radius: 7px;
  color: #fffddc;
}

form.login h2 {
  display: inline-block;
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.form-title {
  position: relative;
  text-align: center;
}

p.login-errors {
  font-size: 10px;
}

.login label{
  padding-bottom: 0.8em;
}
.login input {
  border-radius: 10px;
  width: 350px;
  background-color: whitesmoke;
  padding: 3px 5px 2px 8px;
}

form.login button.close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: -165px;
  top: -25px;
  border-radius: 50%;
  color: #1A0A40;
}

form.login button.close:hover {
  color:  #8562D9;
}

form.login button.submit:hover {
  background-color: #8562D9;

}
