.profile-banner {
  margin: 0 auto;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0E1ny93Ps15cfkpfHQVObfVhAomSoxR8tXw&usqp=CAU");
  background-size: contain;
  background-position: center;
  max-width: 1000px;
  height: 260px;
  position: relative;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}
.profile-banner * {
  white-space: nowrap;
}

.profile-banner h1{
  margin-left: 1em;
}
.profile-image {
  font-size: 2.4em;
  color: #A68A5B;
  background-color: rgb(14, 12, 12);
  padding: 0 8px;
  margin:2px;

}
.count {
  font-size: 1.75em;
  font-weight: 800;
}

.profile-label {
  margin-left: 1.5em;
}

.recent-activity {
  text-align: center;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  margin: 0 auto;
}
.recent-activity h3 {
  padding: 15px 0;
  display: block;
 flex-basis: 100%;
}

.recent-activity h4 {
  flex-basis: 50%;
  border-bottom: 2px solid black;
  height:fit-content;
  max-width: 300px;
}

.recent-item {
  font-size: 14px;
  display:flex;
  flex-direction: column;
  text-align: left;
}
.recent-item * {

}
