/* TODO Add site wide styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root{
  background-color: rgb(246, 242, 247);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}
section {
  width: 100%;
}


.nav-bar {
  display: flex;
  height: 110px;
  align-items: center;
  background-color: #1A0A40;
  width: 100vw;
}
.nav-bar .title {
  margin-left: 1em;
  color: #fffddc;
}
.nav-link {
  margin-right: 60px;
  font-size: 1.2em;
  font-weight: 800;
  border-bottom: 3px solid #1A0A40;
  padding-bottom: 3px;
  white-space: nowrap;
  color:  #fffddc;
}

.nav-link:hover {
  cursor:pointer;
  border-bottom: 2px solid #fffddc;
}

.welcome {
  margin: 0 auto;
  color: #A68A5B;
  justify-self: flex-end;
  margin-right: 2em;

}

.app-title {
  text-decoration: none;
  color: #fffddc;
  font-size: 2em;
  padding-left: 1.5em;
}


/* purp:  #8562D9 #1A0A40 #5B6DA6 # tan:  #A68A5B #A57F5A light-tan: #f3eee4*/

/* font-family: 'Source Serif Pro', serif; */
