/* TODO Add site wide styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root{
  background-color: rgb(246, 242, 247);
}
html{
  position: relative;
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin-bottom: 200px;
  background-color: rgb(246, 242, 247);
}

input,
button,
textarea,
select {
  font: inherit;
}
section {
  width: 100%;
}


.nav-bar {
  display: flex;
  height: 110px;
  align-items: center;
  background-color: #1A0A40;
  width: 100vw;
  gap: 20px;
}

.nav-bar .title {
  margin-left: 1em;
  color: #fffddc;
}
.nav-link {
  margin-right: 60px;
  font-size: 1.2em;
  font-weight: 800;
  border-bottom: 3px solid #1A0A40;
  padding-bottom: 3px;
  white-space: nowrap;
  color:  #fffddc;
}

.nav-link:hover {
  cursor:pointer;
  border-bottom: 2px solid #fffddc;
}

h2.welcome {
  color: #A68A5B;
}

.app-title {
  text-decoration: none;
  color: #fffddc;
  font-size: 2em;
  padding-left: 1.5em;
}

.link-to-shops {
  text-decoration: none;
  font-size: 1.3em;
    /* margin: 0 auto; */
    justify-self: self-end;
}
.search-bar {
 margin-left:auto;
 margin-right: 50px;
 position: relative;
}
.search-bar input {
  width: 300px;
  border-radius: 11px;
  padding: 3px 0 3px 5px;
}

ul.search-results {
  position: absolute;
  background-color: rgba(124, 121, 121, 0.664);
  z-index: 777;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #f8f8ee;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  padding:3px;
}
ul.search-results div {
  padding: 8px 0 8px 0;
  text-align: left;
}
ul.search-results div:hover {
  background-color: rgba(128, 128, 128, 0.664);
  cursor:pointer;
}
ul.search-results div:not(:last-child) {
  border-bottom:1px solid rgb(255, 255, 255);
}
/* purp:  #8562D9 #1A0A40 #5B6DA6 # tan:  #A68A5B #A57F5A light-tan: #f3eee4*/

/* font-family: 'Source Serif Pro', serif; */
