.profile-icon {
 font-size: 2.5em;
 margin-right: 60px;
color: #A68A5B;
}

.profile-icon:hover {
  color: #7c6d53
}
.dropdown-container {
  position: relative;
}
.profile-dropdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  right: 55px;
  top: 25px;
  background-color: white;
  white-space: nowrap;
  text-align: center;
  width: 83px;
  z-index: 99;
}
.profile-dropdown span {
  font-weight: 700;
  padding: 5px 5px;

}
.profile-dropdown span:hover {
  cursor: pointer;
  background-color: #f1e8d5 !important;
}

#profile {
  border-bottom: 2px solid gray;
}


.footer {
  display: flex;
  flex-shrink: 0;
  gap: 2em;
  font-size: 2.5em;
  position: relative;
  bottom: 0;
  left:0;
  right: 0;
  padding: 45px 0 10px 0;
  color: #1A0A40;
  background-color: #A68A5B;
  height: 120px;
}

.github,.linkedin {
  color: #1A0A40;
}
.footer .about-me {
  padding-left: 3em;
}
